*{
    box-sizing: border-box;
} 

body {
    margin: 0;
    padding: 30px;
    font-family: Arial, sans-serif;
    background-color: #f3e8ff;
}

.container {
    width: 100%;
    text-align: center;
}

h1 {
    color: #4b176e;
    font-size: 32px;
    margin-bottom: 35px;
}

.display {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}
.card {
    height: 250px;
    width: 200px;

    position: relative;
    overflow: hidden;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    border-radius: 12px;

    transition: transform 0.5s ease,
                width 0.5s ease,
                box-shadow 0.5s ease;

    cursor: pointer;
}


.card:hover {
    width: 230px;
    height: 280px;

    transform: scale(1.05);

    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.35);

    z-index: 10;
}

.info {
    position: absolute;

    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    padding: 18px;

    /* background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.65),
        rgba(0, 0, 0, 0.05) 45%,
        rgba(0, 0, 0, 0.75)
    ); */

    color: white;
}



.info h2 {
    margin: 0;

    text-align: left;

    font-size: 20px;
    line-height: 1.2;

    color: white;

    text-shadow: 2px 2px 5px black;
}



.details {
    position: absolute;

    left: 18px;
    bottom: 15px;

    text-align: left;
}
.details p {
    margin: 5px 0;
    font-size: 14px;
    line-height: 1.3;
    opacity: 0;
    color: white;
    text-shadow: 2px 2px 4px black;
    transition: opacity 0.4s ease;
}

.card:hover .details p {
    opacity: 1;
}

.card1 {
    background-image: url("photos/am.jpg");
}

.card2 {
    background-image: url("photos/sm.jpg");
}

.card3 {
    background-image: url("photos/tp.jpg");
}

.card4 {
    background-image: url("photos/as.jpg");
}

.card5 {
    background-image: url("photos/bkd.jpg");
}

.card6 {
    background-image: url("photos/js.jpg");
}

.card7 {
    background-image: url("photos/ng.jpg");
}

.card8 {
    background-image: url("photos/sdb.jpg");
}

.card9 {
    background-image: url("photos/akl.jpg");
}

.card10 {
    background-image: url("photos/sjg.jpg");
}

.card11 {
    background-image: url("photos/akd.jpg");
}